.row {
  display: flex;
}

.column {
  flex: 50%;
}

.search-form-container {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.country-code-form {
  width: 292px;
}


.pagination{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.page{
  width: 20px;
}
